:root {
  /* Variables */
  --gray-background: #F1F1F1;
  --commentbox-border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

p,
.new-article-container,
.delete-article-container,
.delete-comment-container {
  letter-spacing: 1px;
}

.container {
  padding: 20px 20px 100px;
  margin: auto;
  width: 95%;
}

main {
  max-width: 1400px;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.intro {
  max-width: 650px;
  margin:auto;
  line-height: 150%;
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  height: 400px
}

.article-header {
  margin-bottom: 1rem;
}

.article-header h1 {
  word-wrap:break-word;
}
.article-header > * {
  margin: .5rem auto;
}

.article-header-date {
  text-align: center;
}

.truncate,
.header-truncate {
  word-wrap:break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
}

.blog-content {
  width: 100%;
  margin-top: 2rem;
}

.blog-description {
  padding: 16px;
}

.new-article-container,
.delete-article-container,
.delete-comment-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  padding: 10px;
}

.delete-article-container {
  position: relative;
  width: 127px;
  text-align: right;
  cursor: default;
  justify-content: right;
  opacity: 0.4;
}

.delete-comment-container {
  width: 100%;
  height: 60px;
  justify-content: right;
  cursor: default !important;
}

.edit-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:10px;
  padding: 20px;
  height: 80px;
}

.edit-intro-button {
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background: #F1F1F1;
}

.logout-button {
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  color: #3121EB;
  border: none;
  background: none;
  width: fit-content;
  cursor: pointer;
}

.add-article-text,
.delete-comment-text {
  font-size: 20px;
}

.articles-container {
  margin-top: 1rem;
}

.articles-container hr {
  opacity: 0.2;
}

.heading-container-logged-in,
.heading-container-logged-out {
  margin-top: 4rem;
}

.heading-container-logged-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-article-button,
.delete-article-button,
.delete-comment-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:10px;
  border-radius: 50%;
  border: none;
  padding:12px;
}

.delete-comment-button {
  position: relative;
  margin-right: 15px;
  cursor: default;
  opacity: .4;
}

.delete-article-button {
  cursor: default;
}

#submit-button {
  padding:16px;
  margin-right: 15px;
}

.article-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.article-gallery-title {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  padding: 1.5rem;
}

.add-article-img {
  width: 16px;
  height: 16px;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1f1f1;
  box-shadow: 0 1px 3px #00000040;  /* 00000040 is black with 25 % opacity */
  position: relative;
  flex: 0 0 30%;
}

.delete-article-checkbox,
.delete-comment-checkbox {
  height: 25px;
  width: 25px;
  outline: none;
  border: none;
  accent-color: #FFF;
}

.delete-article-checkbox {
  margin: .5rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.delete-comment-checkbox {
  margin: auto 1rem
}

.article-thumbnail-container {
  height: 65%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.article-thumbnail-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-content img{
  width: 100%;
}

.article-details-container-with-thumbnail,
.article-details-container-no-thumbnail {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}

.article-details-container-with-thumbnail {
  height: 35%;
}

.article-details-container-no-thumbnail {
  height: 85%;
}

.article-details-container--div {
  height: 100%;
}

.article-details-container--div--text-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: .5rem;
}

.article-details-container--div--text-div--description {
  line-height: 24px;
}

.article-stats-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.article-stats-container > * {
  display: flex;
  padding: 0 .5rem;
  align-items: center;
  justify-content: space-between;
}

.details-number-span {
  margin-left: .3rem;
}

.article-content {
  overflow: hidden;
  width: 50%;
  margin: 1rem auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 1rem;
}

.back-button-container {
  cursor: pointer;
}

.article-edit-button-container {
  width: 40px;
}

.stat-icons {
  padding: 0 .2rem
}

.comment-section {
  width: 50%;
  margin: 1rem auto;
}

#comment-form {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--gray-background);
  border-radius: var(--commentbox-border-radius);
}

.comment-container,
#comment-text {
  font-size: 1rem;
  margin: .3rem 0;
  padding: 1rem;
  border-radius: var(--commentbox-border-radius);
}

#comment-text {
  padding: 1rem;
}

.comment-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: var(--gray-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

.comment-container .comment-content-container {
  width: 100%;
  padding: 1rem;
}

#comment-text,
#comment-text:focus,
#comment-text:active {
  border: none;
  outline: none;
  width: inherit;
  resize: none;
  background: var(--gray-background)
}

#submit-button {
  word-break: initial;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

/* AUTH FORM */
.form-container {
  height: 100vh;
  width: 400px;
  margin: 0 auto;
}

.form-container .message {
  font-size: 20px;
  display: flex;
  gap: 10px;
}

.form-container .message .response {
  text-decoration: underline;
  font-weight: 700;
}

.signup-form {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  left: 0;
  padding: 48px;
  text-align: left;
}

.signup-form label {
  display: inline-block;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 0;
}

.signup-form input {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px 0;
  padding: 14px;
  width: 100%;
}

.default-button {
  display: block;
  margin: auto;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #04AA6D;
  color: white;
  border: none;
  font-size: 18px;
  width: 200px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

.ck.ck-editor__editable .image,
.ck.ck-editor__editable .image-inline {
  position: initial !important;
}

.ck .ck-widget_with-resizer {
  position: initial !important;
}

.ck .ck-widget, .ck .ck-widget.ck-widget_with-selection-handle {
  position: initial !important;
}

.with-tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: #798488;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 14px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  transition: 0.5s;
}
.delete-comment-button.with-tooltip .tooltiptext {
  margin-bottom: 10px;
}
.delete-article-container.with-tooltip .tooltiptext {
  margin-left: -27px;
}

.with-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #798488 transparent transparent transparent;
}

.with-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity:1;
}

.comments-header {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}

@media only screen and (max-width: 1000px) {
  .container, 
  .article-content {
    width: 100%;
  }

  .article-content p {
    display: flex;
    flex-direction: column;
  }

  .article-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .comment-section {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .article-gallery {
    grid-template-columns: 1fr;
  }

  .comment-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .delete-comment-checkbox {
    margin: 0;
  }

  .comment-container .checkbox-container {
    padding-top: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 500px) {

  .intro img {
    transform: scale(.7);
  }
  
  .d-none-mobile {
    display: none;
  }

  .delete-article-container {
    width: 40px
  }

  .heading-container-logged-in {
    display: flex;
  }

  .comment-section {
    width: 100%;
  }

  .comments-header {
    text-align: center;
  }
}

#status-box,
#error-box {
  margin-top: 1em;
  text-align: center;
  padding: .25em .5em;
}

.status-loading {
  background-color: rgba(0, 128, 255, 0.5);
}
.status-error {
  background-color: rgba(255, 0, 0, 0.5);
}
.status-loading,
.status-error {
  border-radius: 1em;
}